<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="D2RBackupBuddy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <D2RBackupBuddy.Properties.Settings>
            <setting name="gamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="savePath" serializeAs="String">
                <value />
            </setting>
            <setting name="backupValue" serializeAs="String">
                <value />
            </setting>
            <setting name="backupInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="modChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="backupStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bindStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minimizeStatus" serializeAs="String">
                <value>False</value>
            </setting>
        </D2RBackupBuddy.Properties.Settings>
    </userSettings>
</configuration>